{% extends "layout.html" %}
{% block title %}Space Exploration Portal{% endblock %}

{% block content %}

  <h1 class="display-4" style="color: white; font-weight: bold">Welcome to Mars!!</h1>
    <h3 class = "mb-3" style="color: white"> Please click on a rover to view photos. </h3>
    <h2 style="color: white">The weather today is: </h2>
    <iframe src='https://mars.nasa.gov/layout/embed/image/mslweather/' width='1200' height='600'  scrolling='no' frameborder='0'
    style="display:block; margin-left: auto; margin-right:auto"></iframe>

{% endblock %}
